
#user  nobody;
worker_processes  auto;

#error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

#pid        logs/nginx.pid;


events {
    worker_connections  1024;
}


http {
    default_type  application/octet-stream;
    server {
        listen       80;
        server_name  localhost;

        #charset koi8-r;

        #access_log  logs/host.access.log  main;

        location / {
            root   tmp;
        }


	types{
		application/vnd.apple.mpegurl m3u8;
		video/mp2t ts;
		text/html html;
		application/dash+xml mpd;
	}
   }

}

rtmp {
	server {
		listen 1935;
		application live {
			live on;
			interleave on;
			hls on;
			hls_path /tmp/hls;
			hls_fragment 15s;
			dash on;
			dash_path /tmp/dash;
			dash_fragment 15s;
			#pull rtmp://tvs.example.com:443/root/mew name=tv2 static;
		}
	}
}
